body
{
 background-color: white;
}
.skibidi
{
 color: black;
 font-family: Arial;
 font-style: italic;
 border-color: black;
 border-style: solid;
 border-spacing: 50px;
 border-radius: 10px; 
 text-shadow: 3px 5px 3px;
}

.text
{
 color: black;
 font-family: Arial;
 font-style: normal;
}