body
{
 background-color: white;
}

.skibidi
{
 color: black;
 font-family: Arial;
 font-style: italic;
 border-style: dotted;
 border-radius: 10px; 
}

.text
{
 color: black;
 font-family: Arial;
 font-style: normal;
}